 <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        corps{
            famille de polices : 'Poppins', sans empattement ;
            couleur de fond : noir ;

        }
        .btn{
            position : absolue ;
            supérieur : 65 % ;
            gauche : 10 % ;
            couleur de fond : rouge ;
            Couleur blanche;
            taille de police : 16 px ;
            rembourrage : 16px 30px ;
            bordure : aucune ;
            curseur : pointeur ;
            rayon de bordure : 10 px ;
            aligner le texte : centrer ;
        }
        .btn2{
            position : absolue ;
            Top 1%;
            gauche : 90 % ;
            couleur de fond : rouge ;
            Couleur blanche;
            taille de police : 16 px ;
            rembourrage : 16px 30px ;
            bordure : aucune ;
            curseur : pointeur ;
            rayon de bordure : 10 px ;
            aligner le texte : centrer ;

        }

        .BigText{
            position : absolue ;
            haut : 30 % ;
            gauche : 10 % ;
            largeur : 30 % ;
            taille de police : 300 % ;
            Couleur blanche;
        }
        
        ul{
            type de style de liste : aucun ;
            marge : 0 ;
            rembourrage : 0 ;
            débordement caché;
            couleur de fond : transparente ;
        }
        li {
            flotteur : gauche ;
        }
        li un {
            bloc de visualisation;
            Couleur blanche;
            aligner le texte : centrer ;
            rembourrage : 14px 16px ;
            décoration de texte : aucune ;
        }
        li a:survol{
            couleur de fond : rouge ;
            rayon de bordure : 10 px ;
        }
                .arcaneimg{
            largeur : 1850px ;
            hauteur : 1 000 pixels ;
        }
        .moviesection{
            largeur maximale : 900px ;
            transformation de texte : majuscule ;
            rembourrage à gauche : 10 % ;
            Couleur blanche;
        }
        heure.arrondi{
            bordure supérieure : 3 pixels rouge uni ;
            rayon de bordure : 5 px ;
        }
        .movieimg .mesimages{
            hauteur : 500px ;
            largeur : 280 pixels ;
        }
        .filmimg .mesimages img{
            largeur : 100 % ;
            hauteur : 100 % ;
            conforme à l'objet : couverture ;
            rayon de bordure : 5 px ;
        }
        .filmimg{
            flotteur : gauche ;
            largeur : 30 % ;
            rembourrage : 15px ;
            max-width : max-contenu ;
            rembourrage à gauche : 5 px ;
        }
        .moviecontainer::after{
            contenu: "";
            clarifier les deux;
            affichage : tableau ;
        }
        .moviecontainer{
            hauteur : contenu maximal ;
            largeur : contenu maximal ;
        }

        
    </style>
